<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="world"  default="empty"/>  <!-- empty, ... (see ../worlds) -->
  <arg name="gzpose" default="-x 0.0 -y 0.0 -z 1.5 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="robot" default="A_sim"/>

  <env name="GAZEBO_MODEL_PATH" value="$(find valkyrie_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>

  <!-- start up world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find valkyrie_gazebo)/worlds/$(arg world).world"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- spawn robot in simulation -->
  <include file="$(find valkyrie_gazebo)/launch/valkyrie_spawn.launch">
    <arg name="robot"  value="$(arg robot)"/>
    <arg name="gzpose" value="$(arg gzpose)"/>
  </include>

  <!-- bring up robot -->
  <!-- Controllers -->
  <include file="$(find valkyrie_controller_configuration_gazebo)/launch/default_controllers.launch"/>
  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0"/>
    <param name="tf_prefix" type="string" value=""/>
  </node>



  
</launch>
