<?xml version="1.0"?>

<model>
 <name>international_space_station</name>
 <version>0.1.0</version>
 <author>
  <name>Bence Magyar</name>
  <email>bence.magyar.robotics@gmail.com</email>
 </author>
 <sdf>model.sdf</sdf>
 <description>
    Model of the International Space Station downloaded from ...
 </description>
</model>
