<launch>
  <arg name="robot" default="A_sim" />
  <include file="$(find valkyrie_bringup)/launch/upload_model.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" args="_use_gui:=True" />

  <node name="rviz" pkg="rviz" type="rviz"/>
</launch>
